.slider__container {
  margin-top: 50px;
}

.event-info-text {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #333333;
}

.event-info-text h2 {
  font-size: 2rem;
  font-family: 'Luckiest Guy', cursive;
  margin-bottom: 20px;
}

.event-info-text p {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 30px;
}

.rsvp-link > button {
  cursor: pointer;
  width: 167px;
  height: 48px;
  outline: none;
  border: none;
  background-color: #fa4a0c;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.rsvp-link > button:hover {
  background-color: #e63c00;
}


.sliding {
  width: 80%;
  margin: 20px auto;
}

.sliding div {
  display: flex;
  justify-content: center;
}

.sliding div img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
